@{
    ViewData["Title"] = "Home Page";
}

<head>
    @*<style>
        body {
            background-image: url("/web.png") !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
    </style>*@

    <link rel="stylesheet" href="~/css/IndexHome.css" asp-append-version="true" />
</head>

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
