@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/IndexHome.css" asp-append-version="true" />
</head>

<div class="text-center-left" face="SANS-SERIF">
    <h1 class="display-4">
        <font size="30">
            Организуйте жизнь,
            <br>возьмите задачи под контроль</font>
</h1>
<br>
<h2 class="title"> <font face="Segoe Script"><span>Так вы ничего не забудете</span></font></h2>    
</div>
