body {
    background-image: url("/css/web.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.title span {
        padding: 0 10px;
        background: rgba(37,219,237,0.8);
}
