html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #FFDD64;
    overflow-y: auto;
    padding-bottom: 80px; /* высота footer */
    /*background-image: url("webj.png");*/
    /*background-size: cover;
    background-repeat: no-repeat;*/
}
