@model Notebook2.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Вход";
}

<head>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>

<h1 class="text-center">Войти</h1>

<h5 class ="text-center">Введите логин и пароль</h5>
<hr class="col-md-4 mx-auto"/>
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                
                <div class="input-box">
                    <input asp-for="Password" class="form-control" id="password" />
                    <img src="~/css/eye-close.png" id="eyeicon"/>
                </div>
                
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>

<div class ="text-center">
    <a asp-action="Index">Вернуться на главную</a>
</div>

<script>
    let eyeicon = document.getElementById("eyeicon")
    let password = document.getElementById("password")
    eyeicon.onclick = function(){
        if(password.type=="password"){
            password.type = "text";
            eyeicon.src = "/css/eye.png"
        }
        else{
            password.type = "password";
            eyeicon.src = "/css/eye-close.png"
        }
    }
</script>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
