@model Notebook2.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<head>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success col-md-4 mx-auto text-center">@TempData["SuccessMessage"]</div>
}

<h1 class ="text-center">Регистрация</h1>

<h5 class="text-center">Для регистрации необходимо ввести ФИО и придумать логин с паролем</h5>
<hr class="col-md-4 mx-auto />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>

                <div class="input-box">
                    <input asp-for="Password" class="form-control" id="password" />
                    <img src="~/css/eye-close.png" id="eyeicon" />
                </div>

                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Вернуться на главную</a>
</div>


<script>
    let eyeicon = document.getElementById("eyeicon")
    let password = document.getElementById("password")
    eyeicon.onclick = function () {
        if (password.type == "password") {
            password.type = "text";
            eyeicon.src = "/css/eye.png"
        }
        else {
            password.type = "password";
            eyeicon.src = "/css/eye-close.png"
        }
    }
</script>
